* {
    box-sizing: border-box;
  }
  
.header{
  font-size: 50px;
  color: navy;
  border: solid navy 5px;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin: 10px 40px;
  text-overflow: wrap;
}

body{
  background-image: url('../images/mariners-generic-background.jpg');
  overflow-x: hidden;
  background-color: navy;
  background-attachment: fixed;   
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  color: white;
  font-family: Arial;
  padding: 20px;
}

.about{
  font-size: 20px;
  max-width: 85%;
  color: navy;
  border: solid navy 5px;
  text-align: left;
  background-color: lightgray;
  padding: 20px;
  margin: 10px 40px;
  border-radius: 7%;
}

footer{
  font-size: 20px;
  text-overflow:wrap;
  text-align: center;
  color: navy;
  border: white solid 5px;
  margin: 10px 0px;
  width: 200%;
  position: relative;
  left: -50%;
  height: 20%;
  background-color: lightgray;
  padding: 0% 50%;
  border-radius: 7%;
}

header {
  background: white;
}

h1{
  background-color: white;
}

li, a{
background-color: lightgrey;
padding: 5px;
display: inline-block;
margin: 5px;
position: relative;
border-radius: 10%;
}

a:hover{
transform: scale(1.2);
}

#title{
text-align: center;
font-size: 50px;
}

@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

.skip a{
  -webkit-transition: none; /* sets to default setting */
  transition: none;        /* sets to default setting */
 }

/*Turn off parallax*/
header{
  background-attachment: initial;
}
}